<section>

    <!-- 6-column size for the headers and the task of the project -->
    <div class="form-horizontal" id="div-project-details">

        <!--form class="form-horizontal"-->
        <div class="form-group">
            <label class="control-label col-md-2" for="prj-new-title"      >Titolo</label>
            <div class="col-md-10">
                <input type="text" class="form-control"
                ng-model="sProject.title"
                label="prj-new-title"
                placeholder="Inserisci il titolo..."
                required="true"></input>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="prj-new-description">Descrizione</label>
            <div class="col-md-10">
                <textarea class="form-control"
                    type="text"
                    ng-model="sProject.description"
                    label="prj-new-description"
                    placeholder="Inserisci la descrizione..."
                    required="true"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="prj-new-status">Stato</label>
            <div class="col-md-10">
                <select class="form-control"
                    ng-model="sProject.status"
                    label="prj-new-status"
                    placeholder="Inserisci lo stato..."
                    ng-options="status as status.value for status in statuses track by status.id"
                    required="true"></select>
            </div>
            <label class="control-label col-md-2" for="prj-new-status-note">Nota stato</label>
            <div class="col-md-10">
                <textarea class="form-control"
                    ng-model="sProject.statusNote"
                    label="prj-status-note"
                    placeholder="Inserisci le note dello stato . . . ">{{sProject.statusNote}}</textarea>
                    <button class="form-control btn-primary" ng-click="addProjectTimelineStep()">
                        Aggiungi nota stato
                    </button>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="prj-new-owner">Assegnato a: </label>
            <div class="col-md-10">
                <select class="form-control"
                    ng-model="sProject.owner"
                    label="prj-new-owner"
                    placeholder="Inserisci l'assegnatario..."
                    ng-options="owner as owner.value for owner in owners track by owner.id"
                    required="true"></select>
            </div>
        </div>
        <!--/form-->


            <p>Data apertura: {{ sProject.dateOpen | date: 'dd MMM yyyy'}}</p>

            <p ng-if="sProject.dateClose != null">Data chiusura: {{ sProject.dateOpen | date: 'dd MMM yyyy'}}</p>

            <p>Data ultima modifica: {{ sProject.dateLastUpdate | date: 'dd MMM yyyy HH:mm'}}</p>

                <p>Task totali: {{ sProject.tasks.length }}</p>
                <p class="alert-danger" >Task aperti:         <span class="pull-right">{{ openedTaskNumber }} </span></p>
                <p class="alert-success">Task chiusi:         <span class="pull-right">{{ closedTaskNumber }} </span></p>
                <p class="alert-info"   >Task in lavorazione: <span class="pull-right">{{ workingTaskNumber }}</span></p>
                <p class="alert-warning">Task fermi:          <span class="pull-right">{{ pausedTaskNumber }} </span></p>

    </div>

    <!-- 6-column size for the notes and the timeline -->
    <div id="project-notes" class="project-notes">
        <button class="btn col-md-12" data-toggle="collapse" data-target="#div-project-notes">Mostra/Nascondi note</button>
        <div class="col-md-12" id="div-project-notes">
            <div class="col-md-12" id="new-prj-note">
                <textarea
                    class="col-md-10"
                    type="text"
                    ng-model="newNote.text"
                    placeholder="Inserisci il testo della nota . . ."></textarea>
                <button class="col-md-1" ng-click="addProjectNote()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <p ng-repeat="note in sProject.notes track by note.text">[ {{note.date | date: 'yyyy/MM/dd HH:mm'}} ] {{note.text}}</p>
        </div>
    </div>

    <div id="project-timeline" class="project-timeline">
        <button class="btn col-md-12" data-toggle="collapse" data-target="#div-project-timeline">Mostra/Nascondi timeline</button>
        <div class="col-md-12" id="div-project-timeline">
            <div id="prj-timeline">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <a href="" ng-click="timelineSortField = 'date'; timelineSortSense = !timelineSortSense">
                                    Data
                                    <span ng-show="timelineSortField == 'date'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                            <td>
                                <a href="" ng-click="timelineSortField = 'status'; timelineSortSense = !timelineSortSense">
                                    Stato
                                    <span ng-show="timelineSortField == 'status'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                            <td>
                                <a href="" ng-click="timelineSortField = 'note'; timelineSortSense = !timelineSortSense">
                                    Nota
                                    <span ng-show="timelineSortField == 'note'" class="fa fa-caret-down"></span>
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tr ng-repeat="timestep in sProject.timeline track by timestep.note | orderBy:timelineSortField:timelineSortSense">
                        <td>{{timestep.date | date: 'dd MMM yyyy HH:mm'}} </td>
                        <td>{{timestep.status}}</td>
                        <td>{{timestep.note}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>
