<!-- Div contenitore per la view relativa alla taskboard -->
<section id="div-project-tasks" class="col-md-12" ng-controller="tasksCtrl">

  <div class="col-md-4 tasks-list">

      <div class="col-md-12" id="tasks-list">
        <header class="col-md-12 tasks-list-action-bar">
          <!--button class="col-md-3 btn glyphicon glyphicon-minus" ng-click="collapseAll()"  ></button>
          <button class="col-md-3 btn glyphicon glyphicon-plus"  ng-click="expandAll()"    ></button>
          <button class="col-md-3 btn glyphicon glyphicon-chevron-left"  ng-click="revertChanges()"></button-->
          <button class="col-md-3 btn glyphicon glyphicon-plus"  ng-click="setEditedTask(null)"></button>
        </header>


        <section class="col-md-12 tasks-list-tree">

            <!--
            this.statuses = [
                { id: 0, value: "Aperto"         },
                { id: 1, value: "In Lavorazione" },
                { id: 2, value: "In Pausa"       },
                { id: 3, value: "Chiuso"         }
            ];
            -->
            <div id="task-legend" class="col-md-12">
                <p class="col-md-3 alert-success">Chiusi</p>
                <p class="col-md-3 alert-info">Attivi</p>
                <p class="col-md-3 alert-warning">Fermi</p>
                <p class="col-md-3 alert-danger">Aperti</p>
            </div>

            <ul ng-show="tasks != null" class="tasks-list col-md-12" ng-model="tasks">
                <li
                    ng-repeat="task in tasks"
                    class="single-task col-md-12"
                    ng-click="setEditedTask(task)">
                    <div class="col-md-12"
                        ng-class="{'alert-danger': task.status.value == statuses[0].value,
                                    'alert-info': task.status.value == statuses[1].value,
                                    'alert-warning': task.status.value == statuses[2].value,
                                    'alert-success': task.status.value == statuses[3].value }" >
                        <p class="col-md-10">{{ task.title }}</p>
                        <span class="col-md-2 pull-right">
                            <button class="glyphicon glyphicon-minus" ng-click="removeTask(task)"></button>
                        </span>
                    </div>
                </li>
            </ul>
          <!--div
              data-angular-treeview="true"
              data-tree-id="id"
              data-tree-model="tasks"
              data-node-id="id"
              data-node-label="title"
              data-node-children="tasks" >
          </div-->
        </section>
    </div>

  </div>

  <div id="selected-task-details" class="col-md-7">
    <p class="col-md-12 alert alert-info" ng-show="editedTask === undefined || editedTask == null " >
        Selezionare un task dalla lista o crearne uno!
    </p>

    <div id="task-details" ng-show="editedTask != null">
        <!--
        id: getUid(),
        title: "Task 1",
        description: "Descrizione Task 1",
        status: "In Pausa",
        owner: this.owners[1],
        dateOpen: new Date(2016, 04, 04),
        dateClose: null,
        dateLastUpdated: new Date(2016, 04, 07),
        statusNote: "",
        notes: [
            { date: new Date(2016, 04, 04, 12, 00), title: "titolo nota task 1", text: "testo nota task 1"}
        ],
        tasks: [ ]
        -->
        <p class="task-id" ng-model="editedTask._id"></p>
        <form
            name="task-form-add"
            class="css-form"
            ng-submit="updateTask()">
            <input
                type="text"
                ng-model="editedTask.title"
                placeholder="Inserisci il titolo del task . . ."
                required="true"></input>

            <textarea
                ng-model="editedTask.description"
                placeholder="Inserisci la descrizione del task . . ."></textarea>

            <select
                ng-model="editedTask.status"
                placeholder="Inserisci lo stato..."
                ng-options="status as status.value for status in statuses track by status.id"
                required="true"></select>

            <select
                ng-model="editedTask.owner"
                placeholder="Inserisci l'assegnatario..."
                ng-options="owner as owner.value for owner in owners track by owner.id"
                required="true"></select>

            <button type="submit" value="Aggiorna Task"></button>

        </form>
        <p
            type="date"
            ng-model="editedTask.dateOpen"
            placeholder="Inserisci la data di apertura del task . . ."></p>

        <p
            type="date"
            ng-model="editedTask.dateClose"
            placeholder="Inserisci la data di chiusura del task . . ."></p>

        <p
            type="date"
            ng-model="editedTask.dateLastUpdated"
            placeholder="Inserisci la data di ultima modifica del task . . ."></p>



    </div>

    <!--div id="task-direct-subtasks">
        <p>Di seguito un riepilogo del task:</p>
        <p>Chiusi: <span class="pull-right">{{closedTaskNumber}}</span></p>
        <p>In lavorazione: <span class="pull-right">{{workingTaskNumber}}</span></p>
        <p>Ancora aperti: <span class="pull-right">{{openedTaskNumber}}</span></p>
        <p>In pausa: <span class="pull-right">{{pausedTaskNumber}}</span></p>
    </div-->

  </div>

</section>
