<!-- Sidebar container dei fasks -->
<div id="sidebarFaskDiv" ng-controller="fasksCtrl">

    <h1 id="faskTitle">Insert new Fask!</h1>

    <!-- Input form per modifica/nuovo fask -->
    <header id="fasksHeader">

        <form name="newFask" >
            <!-- checkbox di completamento -->
            <input class="toggle" type="checkbox" ng-model="fask.completed" ng-change="toggleFaskCompleted(fask)"></input>
            <!-- Campo di testo per inserimento titolo del fask -->
            <input  class="edit"
                    ng-trim="false"
                    ng-model="fask.title"
                    fask-escape="revertEdits(fask)"
                    ng-blur="saveEdits(fask, 'blur')"
                    fask-focus="fask == editedFask"
                    placeholder="Fask title..."></input>
            <!-- Area di testo per inserimento/modifica della descrizione del fask -->
            <!--textarea  class="edit"
                       ng-trim="true"
                       ng-model="fask.description"
                       fask-escape="revertEdits(fask)"
                       ng-blur="saveEdits(fask, 'blur')"
                       fask-focus="fask == editedFask"
                       placeholder="Write something to remember!"></textarea-->
        </form>
    </header>

    <!-- Lista fasks -->
    <section id="fasksList" >

        <!-- Checkbox di azionamento in "completato" di tutti i fask,
             e relativa label -->
        <label for="toggle-all">Mark all as complete</label>
        <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)"></input>

        <!-- Lista task -->
        <ul id="fasks-list">

            <li ng-repeat="fask in fasks | filter:statusFilter track by $index"
                ng-class="{completed: fask.completed, editing: fask == editedFask}">
                <!-- Div di visualizzazione . . . -->
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="fask.completed" ng-change="toggleCompleted(fask)"></input>
                    <label ng-dblclick="editFask(fask)">{{fask.title}}</label>
                    <button class="destroy" ng-click="removeFask(fask)">X</button>
                </div>
                <!-- . . . e form di modifica! -->
                <form ng-submit="saveEdits(fask, 'submit')">
                    <input class="edit" ng-trim="false" ng-model="fask.title" fask-escape="revertEdits(fask)" ng-blur="saveEdits(fask, 'blur')" fask-focus="fask == editedFask"></input>
                </form>

            </li>
        </ul>
    </section>

    <!-- Footer della sezione fasks: filtri e riepilogo -->
    <footer id="fasksFooter" ng-show="fasks.length" > <!--ng-cloak> -->
        <span id="fask-count"><strong>{{remainingCount}}</strong>
            <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: status == ''} " href="#/">All</a>
            </li>
            <li>
                <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
            </li>
            <li>
                <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" ng-click="clearCompletedFasks()" ng-show="completedCount">Clear completed</button>
    </footer>

</div>
