<div>
    <!-- Sezione di ricerca -->
    <form role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search here..." ng-model="prjSearchStr" />
      </div>
    </form>
    
    <!-- Lista progetti -->
    <ul id="projectsList">
        
        <li id="{{project.id}}"
             class="project col-md-4" 
             ng-repeat="project in projects | filter:prjSearchStr" 
             style="background: no-repeat" 
             title="{{project.description}}">
            
            <!-- Dati di visualizzazione: mostrato solo nel caso in cui editProjectFlag sia a false -->
            <div id="prjListDiv" ng-if="!editProjectFlag" class="prjHeaders">
                <p>{{project.name}}</p>
                <p>{{project.status}}</p>
                <button class="btn btn-info" ng-click="openProject(project)">Open Project</button>
                <button class="btn btn-info" ng-click="deleteProject(project)">Delete Project</button>
            </div>

            <!-- Form modifica header del progetto selezionato: mostrato solo se editProjectFlag è a true -->
            <div id="prjEditDiv" ng-if="editProjectFlag" class="prjHeadersEdit">
                
                <form ng-submit="updateProject(project)">
                    <!-- button di chiusura (senza salvataggio a db) del form di modifica header -->
                    <button type="button" class="close" ng-click="editProject(false, project, true)">
                        X<!--span class="glyphicon glyphicon-remove"></span--> 
                    </button>
                    
                    <!-- Alert per avviso di modifica istantanea interfaccia grafica -->
                    <p class="alert alert-warning col-md-12">Il progetto verrà modificato immediatamente! Per annullare le modifiche, cliccare su "X" e ricaricare la pagina!</p>
                    
                    <!-- Nome progetto ed etichetta -->
                    <label for="prjName">Nome progetto</label>
                    <input type="text" class="form-control" id="prjName" placeholder="Nome Progetto . . ." value="{{project.name}}" ng-model="project.name"/>

                    <!-- Stato progetto ed etichetta -->
                    <label for="prjStaus">Stato progetto</label>
                    <input type="text" class="form-control" id="prjStaus" placeholder="Stato Progetto . . ." value="{{project.status}}" ng-model="project.status"/> 

                    <!-- Descrizione progetto ed etichetta -->
                    <label for="prjDescr">Descrizione progetto</label>
                    <textarea type="text" class="form-control" id="prjDescr" placeholder="Descrizione progetto . . ." ng-model="project.description">{{project.description}}</textarea> 

                    <!-- Assegnatario progetto ed etichetta -->
                    <label for="prjAssigned">In carico a</label>
                    <input type="text" class="form-control" id="prjAssigned" placeholder="Inserire un incaricato . . ." value="{{project.assignedTo}}" ng-model="project.assignedTo"/>                     

                    <!-- Data apertura progetto ed etichetta -->
                    <label for="prjOpened">Data apertura</label>
                    <input 
                           id="prjOpened" 
                           type="datetime"
                           pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4} {0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}"
                           class="form-control"
                           placeholder="Data apertura . . ." 
                           value="{{project.dateOpen | date:'yyyy-MM-dd HH:mm:ss'}}" 
                           ng-model="project.dateOpen"
                           title="Formato data: 'DD-MM-YYYY HH24:MI:SS'"/>      

                    <!-- Data ultimo aggiornamento ed etichetta -->
                    <label for="prjUpdated">Data ultimo aggiornamento</label>
                    <input 
                           id="prjUpdated" 
                           type="datetime"
                           pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4} {0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}"
                           class="form-control" 
                           placeholder="Data ultimo aggiornamento . . ." 
                           value="{{project.dateLastModified | date:'yyyy-MM-dd HH:mm:ss'}}" 
                           ng-model="project.dateLastModified"
                           title="Formato data: 'DD-MM-YYYY HH24:MI:SS'"/>      


                    <!-- Data chiusura ed etichetta -->
                    <label ng-if="project.dateClosed !== undefined" for="prjClosed">Data chiusura</label>
                    <input 
                           id="prjClosed" 
                           type="datetime"
                           pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4} {0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}"
                           class="form-control" 
                           value="{{project.dateClosed  | date:'yyyy-MM-dd HH:mm:ss'}}" 
                           ng-if="project.dateClosed !== undefined" 
                           placeholder="Data chiusura . . ." 
                           ng-model="project.dateClosed"
                           title="Formato data: 'DD-MM-YYYY HH24:MI:SS'"/>      


                    <!-- Task associati -->
                    <p ng-if="project.taskList === undefined "> Non risultano task associati!</p>
                    <p ng-if="project.taskList.length > 0" >Questo progetto ha {{ project.taskList.length}} task interni.</p>
                    <!-- Fieldset con i pulsanti di submit, delete ed apertura -->
                    <fieldset>
                        <button type="submit" class="btn btn-default col-md-4">Aggiorna</button>          
                        <button class="btn btn-info col-md-4" ng-click="openProject(project)">Apri Progetto</button>
                        <button class="btn btn-info col-md-4" ng-click="deleteProject(project)">Cancella Progetto</button>
                    </fieldset>
                
                </form>
            </div>

        </li>
    </ul>
    
</div>