<div id="projectListWrapper" ng-controller="TTBProjectsCtrl">
    
    <!-- Sezione di ricerca -->
	<form role="form">
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="Search here..." ng-model="prjSearchStr">
	  </div>
	</form>
    
    <!-- Lista progetti -->
	<ul class="list-unstyled">
		<li class="project" ng-repeat="project in projects | filter:prjSearchStr" style="background: no-repeat">
			<div class="prj-details clearfix">
                <!-- Project fields: 
                    * id
                    * name
                    * description
                    * dateOpen
                    * dateClose
                    * dateLastModified
                    * status
                    * assignedTo
                    * effort
                    * taskList
                -->
				<h3>{{project.id}}</h3>
                <p>{{project.name}}</p>
                <p>{{project.status}}</p>
                <button class="btn btn-info" ng-click="loadTask(project)">Load Project</button>
                <button class="btn btn-info" ng-click="deleteTask(project)">Delete Project</button>
				<!--<p>{{book.price | currency:'Rs.'}}</p>
				<ul class="list-unstyled list-inline">
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.binding | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>Released: {{book.releaseDate}}</li>
				</ul>
				<p>{{book.details}}</p>
				<button class="btn btn-info pull-right" ng-click="addToKart(book)">Add to Kart</button>-->
			</div>
		</li>
	</ul>
</div>