
<!-- *************************************************************************
                                     Task section
     ************************************************************************* -->

<div id="taskWrapper" class="col-md-12">
    
    <div id="prjDataContainer" class="col-md-12">
        <input type="text" ng-model="project.name" value="{{project.name}}"> </input>
        <textarea ng-model="project.description">{{project.description}}</textarea>
        <input type="text" ng-model="project.assignedTo" value="{{project.assignedTo}}" ></input>
        <input type="text" ng-model="project.status" value="{{project.status}}" ></input>
        <input type="datetime" ng-model="project.dateOpen" value="{{project.dateOpen}}"> </input>
        <input type="datetime" ng-model="project.dateLastModified" value="{{project.dateLastModified}}"> </input>
        <input type="datetime" ng-model="project.dateClosed" value="{{project.dateClosed}}"> </input>
    </div>
    
    <div id="taskContainer" class="col-md-12">
        <!-- Sezione di ricerca -->
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search here..." ng-model="tskSearchStr" />
          </div>
        </form>



        <!-- Lista task: quadrati, al click si espandono a tutto schermo, diventando editabili e mostrando
                         la sezione delle note. 
                         Vedi tipo qui: http://jsfiddle.net/teddyrised/EWJGJ/ -->
        <ul class="list-unstyled">

            <!-- 
                Contenitore dei due div
              -->
            <li id="{{task.uniqueId}}"
                class="task col-md-4" 
                ng-repeat="task in tasks | filter:tskSearchStr" 
                ng-mouseover="editTask(task, $event)"
                style="background: no-repeat" title="{{project.description}}">

                <div id="{{task.uniqueId}}TxtDiv" class="tsk-read-details clearfix"  ng-hide="tskEdit" >
                    <!-- Task fields: 
                        * id
                        * name
                        * description
                        * dateOpen
                        * dateClose
                        * dateLastModified
                        * status
                        * assignedTo
                        * effort
                    -->
                    <h3>{{task.name}}</h3>
                    <!--p>{{task.description}}</p-->
                    <p>{{task.status}}</p>
                    <p>{{task.assignedTo}}</p>
                    <p>{{task.dateLastModified}}</p>
                    <!--button class="btn btn-info" ng-click="updateTask(task)">Update Task</button-->
                    <button class="btn btn-info" ng-click="deleteTask(task)">Delete task</button>
                </div> <!-- chiude div contenitore del task -->

                <div class="tsk-edit-details clearfix"  ng-show="tskEdit" >

                    <div id="{{task.uniqueId}}EdtDiv">

                    </div>

                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{task.uniqueId}}EdtDivNotes">Mostra note</button>

                    <div id="{{task.uniqueId}}EdtDivNotes" class="collapse">
                        <ul>
                            <li class="tskNote" ng-repeat="note in task.notes" >
                                <input type="datetime"
                                       pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4} {0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}:{0,1}[0-9]{0,2}"
                                       ng-model="note.date"
                                       value="{{note.date}}"> </input>
                                <textarea type="text" class="form form-control" value="{{note.text}}" ng-model="note.text"></textarea>
                            </li>
                        </ul>
                    </div>

                    <div id="tskEditButtonDiv">
                        <button class="btn btn-info" ng-click="updateTask(task)">Esci</button>
                        <button class="btn btn-info" ng-click="updateTask(task)">Aggiorna</button>
                        <button class="btn btn-info" ng-click="updateTask(task)">Rimuovi</button>
                    </div>
                </div>

            </li>
        </ul>
</div>
</div> <!-- chiude div taskWrapper -->
